@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 1200px;;
}

.page-header {
  color: #000000;
}

.page-header-logo {
  margin-right: 30px;
}

.navigation {
  padding: 0 70px;
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 500px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;

}

.advantages-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-container {
  width: 230px;
  min-height: 160px;
  padding: 81px 85px;
}

.peculiarity-item {
  width: 400px;
}

.peculiarity-container-bottom {
  width: 230px;
  min-height: 160px;
  margin: 81px 85px;
}

.advantages-item-background {

  display: flex;
}

.advantages-list-container {
  display: flex;
  padding: 0;
}

.page-footer-container {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer-social {
  margin-left: 70px;
  width: 160px;
  margin-right: 42px;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
}

.social-button {
  padding: 23px 20px;
  margin: 0;
}

.footer-phone {
  width: 720px;
  text-align: center;
}

.htmlacademy {
  width: 115px;
  margin-right: 70px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 16px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color:#756157;
  text-decoration: none;
}

.logo {
  margin-left: 371px;
  padding-top: 51px;
  padding-bottom: 82px;
}

.logo-background {
  background-image: url("../images/index-background.jpg");
  color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.slogan {
  padding: 90px 0;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.slogan-text {
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #000000;
}

.slogan-title {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title {
  margin-bottom: 62px;
  margin-left: 28px;
  margin-right: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.advantages-title-blue {
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

 .advantages-item-background {
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;

}

.peculiarity-cintainer {
  margin: 64px 0;
}

.peculiarity-list {
  margin: 0;
  padding: 0;
}

.peculiarity-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.peculiarity-title-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    text-align: center;
}

.peculiarity-title-bottom {
  margin-bottom: 30px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.peculiarity-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
}

.peculiarity-item-bottom {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.light-blue {
    background-color: #83B3D3;
}

.search-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.search-text {
  max-width: 592px;
  margin-bottom: 54px;
  margin-left: 304px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.search-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.search {
  margin: 96px 0;
  text-align: center;
}

.subscribe-title {
  padding-top: 96px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-index {
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-text {
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}

.appointment-form {
  padding-bottom: 104px;
  text-align: center;
}

.button-appointment {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-align: center;
}

.footer-phone-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.main-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.filter {
  margin-bottom: 70px;
  padding: 0 70px;
  background-image: url("../images/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-hotels-container {
  display: flex;

}

.catalog-filter-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.catalog-filter-button {
  margin-left: 165px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #83B3D3;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.reset-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.catalog-filter-title,
.catalog-filter-title-number {
  margin-right: 200px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  margin-right: 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels-card-text,
.hotels-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.hotels-card-button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
}

.button-favourites {
  background-color: #83B3D3;
}

.button-in-favourites {
  background-color: #7DB54F;
}

.hotels-card-raiting {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;
  text-align: center;
}

.hotels-card-link {
  text-decoration: none;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-other {
  background-color: #ffffff;
  color: #000000;
}

.subscribe-title-hotels {
  padding-top: 96px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.subscribe-text-hotels {
  padding-bottom: 54px;
  max-width: 475px;
  margin-left: 363px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.catalog-filter-item {
  width: 150px;
  justify-content: space-between;
  margin-right: 70px;
}

.catalog-filter-container {
  display: flex;
  padding: 0 70px;
}

.hotels-list {
  margin: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.hotels-card {
  margin-right: 20px;
}

.catalog-filter-title-container {
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-header {
  padding-top: 35px;
  padding-bottom: 40px;
}
